@import url("./reset.css");

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body{ 
    font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.header a{
    padding-right: 15px; 
    color: #000;
 }

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 41px 112.5px 0;
}

.fa-bars{
    display: none;
}

@media(max-width:817px) {
    .header{
        padding: 41px 40px 0;
    }
    .fa-bars{
        display: flex;
    }
    .nav-links{
        display: none;
    }
}

/*introsection start*/

.introsection{
    display: flex;
    justify-content: space-between;
    padding: 0 112.5px;
    flex-wrap: wrap;
    
    }

    .introsection .left-side{
        display: flex;
        flex-direction: column;
        padding-top: 117px;
        min-width: 715px;
    }

    .introsection .left-side h1{
        font-size: 72px;
        font-weight: 700;
        /* line-height: 82px; */
        color: #000000;
    }

    .introsection .left-side h1 span{
        color: #FF8A56;
    }

    .introsection .left-side small{
        display: inline-block;
        padding-top: 50px; 
        font-weight: 400;
        font-size: 22px;
        /* line-height: 33px; */
        color: #666;
    }

    .book-a-call{
        padding-top: 55px;
    }

    .introsection .left-side button{
        width: 151px;
        height: 58px;
        background-color: #000;
        color: #fff;
        font-weight: 400;
        font-size: 18px;
        margin-right: 20px;
        cursor: pointer;
    }

    .introsection .left-side a{
        margin-right: 20px;
        font-weight: 400;
        font-size: 18px;
        color: #000;
    }

    .introsection .right-side{
        padding-top: 63px;
        min-width: 490px;
    }

    @media(max-width:847px){
        .introsection {
            padding: 0;
        }
        .introsection .left-side{
            min-width: 350px;
        }

        .introsection .left-side h1{
            text-align: center;
            font-size: 54px;
        }
        .introsection .left-side small{
            text-align: center;
            font-size: 18px;
        }

        .book-a-call{
            text-align: center;
        }
        body{
            overflow-x: hidden;
        }
        .introsection .right-side{
            margin: 0 auto;
        }

    }

    @media(min-width:517px) and (max-width:1456px){
        .introsection .left-side {
            flex-basis: 100%;
            text-align: center;
            padding-left: 0;
            padding-right: 0;
        }

        .introsection .right-side{
            margin: 0 auto;
        }
        
        
        
    
    }
    
/*introsection end*/



/* trust section start */

.trusted-by-section h5{
    padding-top: 77px;
    padding-bottom: 45px;
    text-align: center;
    font-size: 18px;

}

.trusted-by-companies{
    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;
}

@media(max-width:768px) {
    .trusted-by-company:nth-child(even){
        display: none;
    }
}

@media(max-width:576px) {
    .trusted-by-company:not(:first-child) {
        display: none;
    }
}

/* trust section end */